* {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

li:hover {
    font-style: italic;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    gap: 13.33vh;
    font-size: 30vh;
    font-weight: 900;
    padding: 13.33vh 0;
}