* {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    list-style: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    min-width: 340px;
}

a {
    letter-spacing: -0.1em;
    color: inherit;
    text-decoration: none;
}

a:hover {
    font-style: italic;
}

.container {
    display: block;
    height: 100vh;
}

.links {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    gap: 13.33vh;
    font-size: 15vh;
    font-weight: 900;
    padding: 13.33vh 0;
}

@media (max-width: 768px) {
    .links {
        font-size: 10vh;
    }
}

/* projects page */

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.content {
    position: absolute;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
    transition: right 0.5s ease-in-out;
}

.content.active {
    right: 0;
}

.content a {
    position: absolute;
    font-size: 9vh;
    outline: 1px solid #ff62ab;
    opacity: 0.5;
}

.content p {
    padding: 1rem;
    font-size: 3rem;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

@media (max-width: 768px) {
    .content {
        display: none;
        width: 100%;
        position: absolute;
        top: 30%;
        left: 0;
    }

    .content p {
        font-size: 1rem;
    }

    .content.active {
        display: flex;
    }

    .content a {
        display: flex;
        opacity: 1;
        height: 30%;
        width: 100%;
        bottom: 0;
        font-size: min(20vw, 30vh);
        align-items: center;
        justify-content: center;
        outline: none;
    }

    .mask {
        position: absolute;
        top: 0;
        height: 30%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .mask::before {
        content: 'Back';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 10vh;
        display: flex;
        align-items: center;     /* Vertical center */
        justify-content: center; /* Horizontal center */
        font-size: min(20vw, 30vh);
    }
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    text-align: left;
    font-size: 10vh;
}   